:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
     background-color: #FFF4C2;
  /* background-image: url('C:/Users/davie/OneDrive/Desktop/juice-app/src/assets/BG.svg'); */
max-width: fit-content;
  /* Lets make the image take up entire width of the page  */
  background-size: cover;

  object-fit: cover;
}



body {
  margin: 0 auto;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}




